body{
  overflow: hidden;
  background: url("../../img/upgrade/back7.png");
  background-size: cover;
  width: 100%;
}
.swipe, .answer{
  position: absolute;
  top:30%;
  width: 88%;
  left: 6%;
  // overflow: hidden;
  background: #fff;
  border-radius: 10px;
}
.answer{
  font-size: 16px;
  color: #fff;
  z-index: 1;
  background: #000;
  opacity: 0.8;
  text-align: center;
  line-height: 22px;
}
.answer.on{
  padding: 15px 0;
}
.layui-m-layerbtn {
  color: #40AFFE;
  border-radius: inherit;
}
.swipe-wrap div > div{
  width: 100%!important;
  min-height: 320px;
  max-width: 320px;
  position: absolute;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-size: cover!important;
}
.swipe-wrap div > div span{
  position: relative;
  top: -160px;
  display: block;
  margin: 0 auto;
  line-height: 24px;
  background: #000;
  opacity: 0.8;
  border-radius: 10px;
}
.fixBottom{
  bottom: 0;
  position: fixed;
  display: none;
}
#toActivity{
  display: none;
}
.firstCon{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("../../img/upgrade/back3.png");
}
.firstCon2{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff;
}
.f_word, .archiveMsg{
  text-align: center;
  color: #666;
  font-size: 18px;
  margin-top: 150px;
}
.archiveMsg{
  margin-top: 80px;
}
.beginBtn{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 15px 20px;
  width: 100px;
  // border: 2px solid #ccc;
  border:2px solid #fff;
  color: #fff;
  border-radius: 5px;
}
.beginBtn:hover{
  background: #ccc;
}
.t_word{
  font-weight: 800;
}
